*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    margin-left: 44%;
    margin-top: 16%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: white;
}
.searchbar{
    margin-left: 35%;
    margin-top: 2%;
    padding: 15px 170px;
    border-radius: 20px;
    border: solid 1px white;
}
.sp{
    margin-left: -37%;
}
div{
    margin-left: 37%;
    margin-top: 12px;
}
a{
    margin-left: 35px;
    text-decoration: none;
}
p{
    margin-left: 48%;
    margin-top: 15px;
    color: white;
}
body{
    background-color: rgba(0, 0, 0, 0.781);
}